@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

.black-red-text {
	background-image: repeating-linear-gradient(45deg, black, red);
	-webkit-background-clip: text;
	background-size: 800% 800%;
	-webkit-text-fill-color: transparent;
	animation: black-red 3s ease infinite;
}

@keyframes black-red {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 25%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
	font: 400 2em "Inter";
	text-align: center;
	margin-left: 2%;
	padding-top: 1%;
	max-width: 650px;
	vertical-align: baseline;
	margin: auto;
}

h2 {
	font: 200 1em "Inter";
	text-align: left;
	margin-right: 2%;
	margin-left: 2%;
	line-height: 1.5em;
	max-width: 650px;
	margin: auto;
}

a {
	color: #0000ee;
}

.big-box {
	opacity: 0;
}

.big-box-visible {
	background-color: #e2e8f4;
	opacity: 1;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.figure-container {
	display: flex;
	justify-content: space-around;
}
.figure-container .number strong {
	font-weight: bold;
	font-size: 2rem !important;
}
.figure-container .number {
	max-width: 17em;
}
.figure-container .text strong {
	font-size: 1.5rem;
}
.figure-container figure p {
	text-align: center !important;
}

.demographic {
	text-align: center;
}

.centered {
	margin: auto;
}
.themedRed {
	--block-background-color: #ff6961;
}

.themedGreen {
	--block-background-color: #90ee90;
}

.dropdown {
	text-align-last: right;
	font-size: 1em;
	color: black;
	border: none;
	border-bottom: 1.5px solid grey;
	background-color: white;
}

footer {
	font: 200 .9em "Inter";
	text-align: left;
	margin-top: 2em;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	padding: 8px 0px 0px 6px;
	max-width: 650px;
	margin: auto;
}

.boxed {
	border: 1px solid black;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	opacity: 0;
}

.boxedVisible {
	border: 1px solid black;
	background-color: #f2f1ec;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	opacity: 1;
}
